<template>
  <el-card :body-style="{ padding: '0px' }">
    <transition name="bounce"> 
      <div v-if="isEdit" style="padding: 14px">
        <h3 style="text-align: center;margin-bottom: 20px;">EDIT</h3>
        <EmailForm @onFormChange="formChange" :initialAttachment="attachmentDisplay" :initialForm="form" v-if="isEdit"/>
        <SegmentForm @onFormChange="segmentChange" :segmentList="segmentList" :segmentModel="segmentModel"/>
        <el-button @click="deleteSelf" type="text" class="button">Delete</el-button>
        <el-button @click="isEdit = false" type="text" class="button">Cancel</el-button>
        <el-button @click="save" type="text" class="button">Save</el-button>
        <el-button @click="send" type="text" class="button">Send</el-button>
      </div>
    </transition>
    <div v-if="!isEdit">
      <div style="padding: 14px;display: flex;">
        <div style="width:100%;display: flex;">
          <div style="width:30%;" class="email-head">{{subject}}</div>
          <div style="width:30%;" class="email-head">{{replyToEmail}}</div>
          <div style="width:30%;" class="email-head">{{created}}</div>
        </div>
        <div style="width:150px;display: flex;justify-content: flex-end;" class="bottom clearfix">
          <div>
            <el-button v-if="editable" @click="edit" type="text" class="button">Edit</el-button>
            <el-button v-if="!preview" @click="show" type="text" class="button">Preview</el-button>
            <el-button v-else @click="hide" type="text" class="button">Hide</el-button>
          </div>
        </div>
      </div>
      <transition name="bounce">
        <div v-if="preview">
          <div class="email-content" v-html="content"> </div>
        </div>
      </transition>
      <SegmentEmail :segment="segment" style="border:0px;"/>
      <div v-if="attachment.length > 0" style="display: flex;width: 100%;padding: 10px; flex-wrap: wrap;border-top: 2px solid #F2F2F2">
        <div v-for="file in attachment">
          <el-tag type="warning"><i style="margin-right: 10px;" class="el-icon-document"></i>{{file.attachment.name}}</el-tag>
        </div>
      </div>
    </div>
  </el-card>
</template>

<script>
import EmailForm from './EmailForm.vue'
import SegmentEmail from './SegmentEmail.vue'
import SegmentForm from '../Filter/SegmentForm.vue';
export default {
  props:['idEmail','senderName','subject', 'created', 'replyToEmail','content','attachment', 'senderEmail', 'editable', 'segment'],
  components:{
    EmailForm,
    SegmentEmail,
    SegmentForm
  },
  data () {
    return {
      preview:false,
      isEdit:false,
      attachmentDisplay:[],
      segmentModel:[],
      segmentList:[]
    }
  },
  mounted(){
    console.log('Segment',this.segment)
    this.segment.forEach(v =>{
      this.segmentModel.push(v.idSegment)
    })
    this.getAllSegment()
    .then(result =>{
      this.segmentList = result.data
    })
    this.attachmentDisplay = []
    this.attachment.forEach(v =>{
      this.attachmentDisplay.push({
        name:v.attachment.name,
        url:v.attachment.attachment,
        id:v.attachment.id 
      })
    })
    this.form = {
      id:this.idEmail,
      subject:this.subject,
      replyToEmail:this.replyToEmail,
      body:this.content,
      attachment:[],
      deleteStack:[],
      segment: this.segmentModel
    }
     console.log('FORM',this.form)
  },
  methods:{
    segmentChange(value){
      this.segmentModel = value
      this.form.segment = value
      console.log('RUBAH', value)
    },
    getAllSegment(){
      return axios.get('/segment/get-list')
    },
    formChange(newForm){
      this.form = newForm
      this.form.id = this.idEmail
      this.$emit('onFormChange', newForm)
    },
    deleteSelf(){
      this.$emit('onDelete', this.idEmail)
    },
    show(){
      this.preview = true
    },
    hide(){
      this.preview = false
    },
    edit(){
      this.isEdit = true
    },
    save(){
      this.$emit('onSave', this.form)
    },
    send(){
      this.$emit('onSend', this.form)
    }
  }
}
</script>

<style scoped>
  .el-card{
    margin: 5px;
    border-right: 2px solid #169ED8;
    border-left: 2px solid #169ED8
  }
  .email-head{
    padding-top: 5px;
    padding-right: 20px;
  }
  .email-content{
    border-top:1px solid #F0F0F0;
    padding: 20px;
  }
  .bounce-enter-active {
    animation: bounce-in .3s;
  }
  /*.bounce-leave-active {
    animation: bounce-in .3s reverse;
  }*/
  @keyframes bounce-in {
    0% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(0px);
    }
  }
</style>