<template>
  <div>
    <div class="header-container">
      <el-input style="margin-top:20px;" placeholder="Please input" v-model="form.subject">
        <template style="width: 400px" slot="prepend">
          <div style="width: 70px">
            Subject
          </div>
        </template>
      </el-input>
      <el-input style="margin-top:20px;margin-bottom: 20px;" placeholder="Please input" v-model="form.replyToEmail">
        <template slot="prepend">
          <div style="width: 70px">
            Reply-To
          </div>
        </template>
      </el-input>
    </div>
    <div class="body-container">
      <FroalaComponent :initialBody="form.body" @onBodyChange="changeBody" class="froala"/>

      <el-card :body-style="{ padding: '0px' }" style="width:100%;border-top: 2px solid #95B1B2;padding:5px 20px 20px 20px ;margin-top: 20px;">
        <div style="margin: 10px;">Attachment :</div>
        <el-upload
          class="upload-demo"
          action="/email"
          :on-change="handlePreview"
          :on-remove="handleRemove"
          :before-remove="beforeRemove"
          :auto-upload="false"
          multiple
          :file-list="attachmentArray">
          <el-button icon="el-icon-circle-plus-outline" size="small" style="width: 100%" type="primary">Add Files</el-button>
        </el-upload>
      </el-card>
    </div>
  </div>
</template>

<script>
import FroalaComponent from './FroalaComponent.vue'
import UploadAttachment from './UploadAttachment.vue'

export default {
  props:['initialForm', 'initialAttachment'],
  components:{
    FroalaComponent,
    UploadAttachment
  },
  data () {
    return {
      form:{
        subject:'',
        replyToEmail:'',
        senderName:'',
        senderEmail:'',
        body:'',
        attachment:[],
        image:'',
        deleteStack:[]
      },
      attachmentArray:[],
      deleteStack:[]
    }
  },
  created(){
    if(!this.initialAttachment){
      this.attachmentArray = []  
    }else{
      this.attachmentArray = this.initialAttachment  
    }
    this.form = this.initialForm
    if(!this.form.attachment){
      this.form.attachment = []
    }
  },
  methods:{
    changeBody(val){
      this.form.body = val
      this.$emit('onFormChange', this.form)
    },
    handleRemove(file, fileList) {
      if(file.status == 'success'){
        this.deleteStack.push(file.id)
      }
      this.form.attachment.forEach(v =>{
        if(file.raw == v){
           this.$delete(this.form.attachment, this.form.attachment.indexOf(v))
        }
      })
      this.attachmentArray = fileList
      console.log(this.deleteStack)
    },
    handlePreview(file, fileList) {
      this.form.attachment.push(file.raw)
      this.attachmentArray = fileList
    },
    beforeRemove(file, fileList) {
      return this.$confirm(`Apakah anda ingin menghapus ${ file.name }？`);
    }
  },
  watch:{
    form:{
      handler(val){
        this.$emit('onFormChange', val)
      },
      immediate:true,
      deep:true
    },
    deleteStack(val){
        this.form.deleteStack = val
    }
  }
}
</script>

<style>
  input[type="file"]{
    opacity:0;
    display: none;
  }
  .upload-demo{
    width: 100%;

  }
  .el-upload--text{
    width: 100%;
  }
  .container-fluid{
    width: 100%;
  }
  .body-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .upload{
    width: 100%;
    margin-top: 20px;
  }
  .froala{
    width: 100%;
    height: 100%;
  }
</style>