<template>
  <froala style="width: 100%; " :tag="'textarea'" :config="config" v-model="model"></froala>
</template>

<script>
import VueFroala from 'vue-froala-wysiwyg';

export default {
  props:['initialBody'],
  data () {
    return {
      config: {
        events: {
          'froalaEditor.initialized': function () {
            console.log('initialized')
          }
        },
        quickInsertButtons: ['embedly', 'table', 'ul', 'ol', 'hr'],
        toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineClass', 'inlineStyle', 'paragraphStyle', 'lineHeight', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink','insertTable', '|', 'emoticons', 'fontAwesome', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'spellChecker', 'help', 'html', '|', 'undo', 'redo'],
        toolbarButtonsMD:  ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineClass', 'inlineStyle', 'paragraphStyle', 'lineHeight', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink','insertTable', '|', 'emoticons', 'fontAwesome', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'spellChecker', 'help', 'html', '|', 'undo', 'redo']
      },
      model:''
    }
  },
  mounted(){
    this.model = this.initialBody
  },
  watch:{
    model:function(newvalue){
      this.$emit('onBodyChange',newvalue)
      
    }
  }
}
</script>
<style>
  .fr-box{
    width: 100%;
  }
</style>