<template>
 <el-card :body-style="{ padding: '0px' }" >
      <div style="margin: 10px;">Send To Segments :</div>
      <div style="width: 100%;display: flex;flex-wrap: wrap;padding:10px;background-color: #c9cce0;">
        <div v-for="item in segmentList">
          <div class="segment-card">{{item.segment_email.name}}</div>
        </div>
      </div>
  </el-card>
</template>

<script>
export default {
  props:['segment'],
  data () {
    return {
      segmentList:[]
    }
  },
  created(){
    console.log('TES',this.segment)
    this.segmentList = this.segment
  }
}
</script>

<style scoped>
  .segment-card{
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 2px;
    min-width: 300px;
    margin: 5px;
    transition:all 200ms ease-out 
  }
  .segment-card:hover{
    transform: scale(1.03);
  }
</style>