<template>
 	<el-upload
	  class="upload-demo"
	  action="https://jsonplaceholder.typicode.com/posts/"
	  :on-preview="handlePreview"
	  :on-remove="handleRemove"
	  :before-remove="beforeRemove"
	  :auto-upload="false"
	  multiple
	  :on-exceed="handleExceed"
	  :file-list="fileList">
	  <el-button icon="el-icon-circle-plus-outline"	size="small" style="width: 100%" type="primary">Add Files</el-button>
	  <!-- <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div> -->
	</el-upload>
</template>

<script>

export default {
	props:['fileList'],
	data () {
		return {
		}
	}, 
	methods: {
		handleRemove(file, fileList) {
			console.log(file, fileList);
		},
		handlePreview(file) {
			console.log(file);
		},
		handleExceed(files, fileList) {
			this.$message.warning(`The limit is 3, you selected ${files.length} files this time, add up to ${files.length + fileList.length} totally`);
		},
		beforeRemove(file, fileList) {
			return this.$confirm(`确定移除 ${ file.name }？`);
		}
	}
}
</script>

<style>
  input[type="file"]{
    opacity:0;
    display: none;
  }
  .upload-demo{
  	width: 100%;

  }
  .el-upload--text{
  	width: 100%;
  }
</style>