<template>
  <div :class="{container:true}">
    <div style="width: 100%;display: flex;justify-content: flex-end;">
      <el-button @click="editSelf" style="padding: 10px;" type="primary" icon="el-icon-edit"></el-button>
      <el-popover
        placement="left"
        width="200"
        style="margin-left: 5px;"
        v-model="confirm">
        <p>Are you sure to delete this?</p>
        <div style="text-align: right; margin: 0">
          <el-button size="mini" type="text" @click="confirm = false">cancel</el-button>
          <el-button type="primary" size="mini" @click="deleteSelf">confirm</el-button>
        </div>
        <el-button style="padding: 10px;" slot="reference" type="warning" icon="el-icon-delete"></el-button>
      </el-popover>
    </div>
    <div style="width: 100px;height: 100px; display: flex;justify-content: center;border-radius: 50%;overflow: hidden;">
      <img :src="forms.img" class="image">
    </div>
    <h4>{{forms.title}} {{forms.firstName}} {{forms.lastName}}</h4>
    <span>{{forms.email}}</span>
    <p>{{forms.city}}</p>
    <div class="operation">
      <!-- <el-button @click="deleteSelf" type="warning">Delete</el-button> -->
      <el-button @click="preview" type="primary">Preview</el-button>
    </div>
  </div>
</template>

<script>
import api from '../../../../mixins/Api.js'
export default {
  mixins:[api.image],
  props:['id', 'title', 'firstName', 'lastName','email', 'city', 'img'],
  data () {
    return {
      pop:false,
      confirm:false,
      forms:{
        id:'',
        firstName:'',
        lastName:'',
        email:'',
        city:'',
        img:'',
        title:''
      }
    }
  },
  mounted(){
    this.forms.id = this.id
    this.forms.title = this.title
    this.forms.firstName = this.firstName
    this.forms.lastName = this.lastName
    this.forms.email = this.email
    if(this.city == null){
      this.forms.city = 'Not Specified'  
    }else{
      this.forms.city = this.city
    }
    
    this.fetchImage(this.img)
    .then(result =>{
      console.log(result)
      this.forms.img = result.data  
    })
  },
  methods:{
    preview(){
      this.$router.replace(
        { 
          name: "Edit Contact", 
          params: {id:this.forms.id}
        }
      )
      // this.$router.replace({ name: "Edit Contact", params: {id:'1'}, query: {q1: "q1"} })
    },
    deleteSelf(){
      this.$emit('onDelete', this.id)
    },
    editSelf(){
      this.$emit('onEdit', this.id)
    }
  }
}
</script>

<style scoped>
  h4{
    width: 100%;
    text-align: center;
  }
  .container{
    margin:10px;
    width: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
  }
  .image{
    width: 100%;
    object-fit: cover;
  }
  .operation{
    width: 100%;
    display: flex;
    justify-content: center;
  }
</style>