<template>
  <div style="width:80%;display: flex;justify-content: center;flex-wrap: wrap;align-items: flex-start;">
    <div style="width:100%;">
      <ContactDetail :additionalSlot="1">
        <template slot="image">
          <el-upload
            class="avatar-uploader"
            action=""
            :auto-upload="false"
            :show-file-list="false"
            :on-change="onUploadChange"
            :before-upload="beforeAvatarUpload">
            <img v-if="formInput.imageUrl" :src="formInput.imageUrl" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </template>
        <template slot="after-image">
          <div style="width:100%;">
            <h4 style="text-align: center;">Mr. Imam Najibulloh {{ $route.params.id }}</h4>
          </div>
          <div v-for="(v,i) in field">
            <SlotCard :icon="v.icon">
              <template slot="label">
                {{v.label}}
              </template>
              <template slot="value">
                <ValueEdit @onSave="save">
                  <div slot="value">
                    {{v.model}}
                  </div>
                  <input slot="input" v-model="v.model" type="text" name="">
                </ValueEdit>
              </template>
            </SlotCard>
          </div>
        </template>
        <template slot="1">
          <div v-for="(v,i) in field">
            <SlotCard :icon="v.icon">
              <template slot="label">
                {{v.label}}
              </template>
              <template slot="value">
                <ValueEdit @onSave="save">
                  <div slot="value">
                    {{v.model}}
                  </div>
                  <input slot="input" v-model="v.model" type="text" name="">
                </ValueEdit>
              </template>
            </SlotCard>
          </div>
        </template>
      </ContactDetail>
    </div>
  </div>
</template>

<script>
  import swal from 'sweetalert2'
  // import ContactForm from './ContactForm.vue'
  import api from '../../../../mixins/Api.js'
  import ContactCard from './ContactCard.vue'
  import ContactForm from './ContactForm.vue'
  import ContactDetail from './ContactDetail.vue'
  import SlotCard from './SlotCard.vue'
  import ValueEdit from './ValueEdit.vue'

  export default {
    mixins:[api.contact],
    components:{
      ContactForm,
      ContactCard,
      ContactDetail,
      SlotCard,
      ValueEdit
    },
    data () {
      return {
        id:'',
        name:'Imam',
        formInput:{
          imageUrl:'https://s3-ap-southeast-1.amazonaws.com/upcode/static/default-image.jpg',
          picture:'https://s3-ap-southeast-1.amazonaws.com/upcode/static/default-image.jpg'
        },
        field:[
          {
            icon:'el-icon-mobile-phone',
            label:'Mobile',
            model:'+6285647114987'
          },
          {
            icon:'el-icon-phone-outline',
            label:'Phone',
            model:'(0276)555555'
          }
        ],
        isEdit:false,
        editDialog:false,
        forms:[],
        loading:true
      }
    },
    created () {
      this.id = this.$route.params.id 
      this.editDialog = true
      this.getAllContact()
    },
    mounted(){
    },
    methods: {
      save(){
        console.log(this.id,'id')
        console.log(this.field)
      },
      getBase64(file) {
        return new Promise((resolve, reject) => {
          const reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onload = () => resolve(reader.result);
          reader.onerror = error => reject(error);
        });
      },
      onUploadChange(file, fileList){
        this.formInput.imageUrl = URL.createObjectURL(file.raw);
        this.getBase64(file.raw)
        .then(result =>{
          this.formInput.picture = result
        })
        
      },
      beforeAvatarUpload(file) {
        const isJPG = file.type === 'image/jpeg';
        const isLt2M = file.size / 1024 / 1024 < 2;

        if (!isJPG) {
          this.$message.error('Avatar picture must be JPG format!');
        }
        if (!isLt2M) {
          this.$message.error('Avatar picture size can not exceed 2MB!');
        }
        return isJPG && isLt2M;
      },
    },
    watch:{
    }
  }
</script>

<style scoped>
</style>
