<template>
  <div class="container">
    <div class="basic">
      <div class="image-container">
        <div class="image-circle">
          <slot name="image"></slot>
        </div>
        <div class="after-image">
          <slot name="after-image"></slot>  
        </div>
      </div>
      <div class="slot-card" v-for="i in additionalSlot">
        <slot :name="i"></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props:['additionalSlot'],
  data () {
    return {
    }
  }
}
</script>

<style scoped>
  .container{
    width: 100%;
    height: 90%;

  }
  .basic{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

  }
  .image-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-bottom: -50px;
  }
  .after-image{
    width: 100%;
    background-color:white;
    transform: translateY(-100px);
    padding:20px;
    padding-top: 80px;
    border-radius: 30px 30px 5px 5px;
    -webkit-box-shadow: 0px 0px 17px -5px rgba(71,70,71,1);
      -moz-box-shadow: 0px 0px 17px -5px rgba(71,70,71,1);
            box-shadow: 0px 0px 17px -5px rgba(71,70,71,1);
  }
  .slot-card{
    margin-top: 10px;
    width: 100%;
    background-color:white;
    padding:20px;
    transform: translateY(-100px);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 17px -5px rgba(71,70,71,1);
      -moz-box-shadow: 0px 0px 17px -5px rgba(71,70,71,1);
            box-shadow: 0px 0px 17px -5px rgba(71,70,71,1);
  }
  .image-circle{
    width: 250px;
    height: 250px;
    background-color: black;
    overflow: hidden;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border:10px solid white;*/
    z-index: 100;
    -webkit-box-shadow: 0px 0px 17px -2px rgba(71,70,71,1);
    -moz-box-shadow: 0px 0px 17px -2px rgba(71,70,71,1);
    box-shadow: 0px 0px 17px -2px rgba(71,70,71,1);
  }
  .image-circle :nth-child(n){
    object-fit: cover;
    width: 100%;
    height: 100%;
    /*transform: translateX(-10px);*/
  }
</style>