<template>
  <div style="display: flex;margin:10px;width: auto;">
    <div class="icon" style="width: 50px; height: 50px;display: flex; justify-content: center;align-items: flex-start;">
      <i :class="icon" style="font-size:30px;"></i>
    </div>
    <div class="field-container" style="width:100%;margin-left: 20px;display: flex;justify-content: flex-start;align-items: center;flex-wrap: wrap;">
      <div class="label-field" style="height: 25px;width:100%;display: flex;align-items: center;">
        <slot name="label"></slot>
      </div>
      <div class="text" style="width:100%;display: flex;align-items: center;font-size: 12pt;">
        <strong style="width: 100%;"><slot name="value"></slot></strong>
      </div>
      
    </div>
  </div>
</template>

<script>
export default {
  props:['icon'],
  data () {
    return {
    }
  }
}
</script>

<style scoped>
 
</style>