<template>
  <div class="value-container" style="display: flex;width: 100%;">
    <slot v-if="!isEdit" name='value'>
      <!-- Value goes here -->
    </slot>
    <slot v-if="isEdit" name="input">
      <!-- input when edit goues here -->
    </slot>
    <div>
      <button v-if="!isEdit" @click="edit" class="edit-btn"><i class="el-icon-edit"></i></button>
      <button v-if="isEdit" @click="save" class="edit-btn"><i class="el-icon-check"></i></button>
    </div>
  </div>
</template>

<script>
  export default {
    props:['value'],
    data () {
      return {
        isEdit:false
      }
    },
    methods:{
      edit(){
        this.isEdit = true;
      },
      save(){
        this.$emit('onSave')
        this.isEdit = false;
      }
    }
    
  }
</script>

<style scoped>
  .value-container{

  }
  .value-container:hover .edit-btn{
    opacity: 1;
  }

  .edit-btn{
    padding-left: 10px;
    border:0px;
    border-radius: 50%;
    background-color:rgba(0,0,0,0);
    opacity: 0;
  }
</style>
