<template>
  <div class="card">
    <div class="card-header">
      <h4 class="title">Edit Profile</h4>
    </div>
    <div class="card-content">
      <form>
        <div class="row">
          <div class="col-md-6">
            <fg-input type="text"
                      label="Name"
                      placeholder="Name"
                      v-model="user.name">
            </fg-input>
          </div>
          <div class="col-md-6">
            <fg-input type="email"
                      label="Email"
                      placeholder="Email"
                      v-model="user.email">
            </fg-input>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="updateProfile">
            Update Profile
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  import swal from 'sweetalert2'

  export default {
    data () {
      return {
        user: {
          name: '',
          email: ''
        }
      }
    },
    methods: {
      read () {
        axios.get(process.env.MIX_API_URL + 'profile').then(({ data }) => {
          this.user.name = data.name;
          this.user.email = data.email;
        });
      },
      updateProfile () {
        axios.put(process.env.MIX_API_URL + 'profile', {name: this.user.name, email: this.user.email}).then(() => {
          swal({
            title: `Success!`,
            text: 'Your profile was updated!',
            buttonsStyling: false,
            confirmButtonClass: 'btn btn-success btn-fill',
            type: 'success'
          })
        }).catch(function (error) {
          //
        }).then(function () {
          //
        });
      }
    },
    created() {
      this.read();
    }
  }

</script>
<style>

</style>
