<template>
  <div style="width:100%;display: flex;justify-content: center;flex-wrap: wrap;align-items: flex-start;">
    <router-view></router-view>
  </div>
</template>

<script>
  import swal from 'sweetalert2'
  // import ContactForm from './ContactForm.vue'
  import api from '../../../mixins/Api.js'
  import ContactCard from './Contact/ContactCard.vue'
  import ContactForm from './Contact/ContactForm.vue'
  import ContactDetail from './Contact/ContactDetail.vue'
  import SlotCard from './Contact/SlotCard.vue'
  import ValueEdit from './Contact/ValueEdit.vue'

  export default {
    mixins:[api.contact],
    components:{
      ContactForm,
      ContactCard,
      ContactDetail,
      SlotCard,
      ValueEdit
    },
    data () {
      return {
        name:'Imam',
        field:[
          {
            icon:'el-icon-mobile-phone',
            label:'Mobile',
            value:'+6285647114987'
          },
          {
            icon:'el-icon-phone-outline',
            label:'Phone',
            value:'(0276)555555'
          }
        ],
        isEdit:false,
        editDialog:false,
        forms:[],
        loading:true
      }
    },
    created () {
      this.editDialog = true
      this.getAllContact()
    },
    mounted(){
    },
    methods: {
      save(){
        console.log(this.field)
        this.$router.replace({ name: "Contact List", params: {id:"123"}, query: {q1: "q1"} })
      },
      editCard(id){
        console.log('edit', id)
        this.$router.push({name: 'Create Contact', query: { id: id } });
        // this.isEdit = true;

        this.edit(id,id)
      },
      deleteCard(id){
        console.log('delete', id)
      },
      getAllContact(){
        this.contactList()
          .then(result =>{
            this.forms = result.data
            console.log(this.forms)
          })
          .then(()=>{
            this.editDialog = false
            this.loading = false
          })
      },
      submitForm(){
        let {formInput, submitForm} = this.$refs.contact
        this.editDialog = false
        submitForm()
        this.getAllContact()

      },
      resetForm(){
        let {resetForm} = this.$refs.contact
        resetForm()
      },
      edit(index, row){
        let temp
        let tempTags = []
        row.tags.forEach(v =>{
          tempTags.push(v.tagName)
        })
        let tempSegment = []
        tempSegment = row.segment.map(v =>{
          return v.id
        })
        console.log('segment',row.segment)
        this.fetchImage(row.picture)
        .then(result =>{
          console.log('row',row)
          if(row.idAddress !=null ){
            temp = {
              id:row.id,
              title:row.title,
              firstName:row.firstName,
              lastName:row.lastName,
              email:row.email,
              phone:row.phone,
              handPhone:row.handPhone,
              website:row.website,
              jobTitle:row.jobTitle,
              idCompany:row.idCompany,
              street:row.idAddress.street,
              zip:row.idAddress.zip,
              city:row.idAddress.city,
              country:row.idAddress.country,
              birthday:row.birthday,
              tags:tempTags,
              segment:tempSegment,
              accountManager:row.accountManager,
              customData:row.customData,
              imageUrl:row.picture,
              picture:result.data
            }
          }else{
            temp = {
              id:row.id,
              title:row.title,
              firstName:row.firstName,
              lastName:row.lastName,
              email:row.email,
              phone:row.phone,
              handPhone:row.handPhone,
              website:row.website,
              jobTitle:row.jobTitle,
              idCompany:row.idCompany,
              street:'',
              zip:'',
              city:'',
              country:'',
              birthday:row.birthday,
              tags:tempTags,
              segment:tempSegment,
              accountManager:row.accountManager,
              customData:row.customData,
              imageUrl:row.picture,
              picture:result.data
            }
          }
          return temp
        })
        .then(result =>{
          let temp = result
          console.log('te',temp)
          this.fetchImage(temp.imageUrl)
          .then(result =>{
            temp.imageUrl = result.data
          })
          
          this.$refs.contact.formInput = temp
          console.log('bawah',this.$refs.contact.formInput)
          this.editDialog = true;
        })
        .catch(err =>{
          console.log('error',err)
        })
      },
      deleteRow(index, row){
        this.loading = true
        console.log('will',row.id)
        axios.post('/contact/delete',{
          id:row.id
        })
        .then(result =>{
          console.log(result)
          console.log(row)
          this.forms.splice(index,1)
          console.log('forms',this.forms)
          swal({
            type: 'success',
            title: 'User data has been deleted',
            showConfirmButton: false,
            timer: 1500
          })
          this.loading = false
        })
        .catch(err=>{
          swal({
            type: 'error',
            title: 'Oops...',
            text: 'Something went wrong!'
          })
          this.loading = false
        })
      }
    },
    watch:{
    }
  }
</script>

<style scoped>
</style>
