<template>
  <el-form v-loading="loading" :model="formInput" status-icon :rules="rulesForm" ref="formInput" label-width="120px" class="demo-ruleForm">
    <el-form-item label="Title" prop="title">
      <el-select
        v-model="formInput.title"
        filterable
        placeholder="Title">
        <el-option
          v-for="item in ['Mr.','Ms.','Mrs.']"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="First Name" prop="firstName">
      <el-input v-model="formInput.firstName" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="Last Name" prop="lastName">
      <el-input v-model="formInput.lastName" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="Email" prop="email">
      <el-input v-model="formInput.email" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="Phone" prop="Phone">
      <el-input placeholder="Phone Number" v-model="formInput.phone" class="input-with-select"></el-input>
    </el-form-item>
    <el-form-item v-if="mode == 'update'" label="Phone" prop="handPhone">
      <el-input placeholder="HandPhone Number" v-model="formInput.handPhone" class="input-with-select"></el-input>
    </el-form-item>
    <el-form-item v-if="mode != 'update'" label="HandPhone" prop="handPhone">
      <el-input type="number" :placeholder="choosenDialCode" v-model="formInput.handPhone" class="input-with-select">
        <el-select
          style="width:100px;"
          v-model="choosenDialCode"
          filterable
          placeholder="DC"
          slot="prepend">
          <el-option
            v-for="item in dialCode"
            :key="item.name"
            :label="item.dial_code"
            :value="item.dial_code">
          </el-option>
        </el-select>
      </el-input>
    </el-form-item>
    <el-form-item label="Website" prop="website">
      <el-input placeholder="Website" v-model="formInput.website" class="input-with-select"></el-input>
    </el-form-item>
    <el-form-item label="Job Title" prop="jobTitle">
      <el-input v-model="formInput.jobTitle" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="birthday" prop="birthday">
      <el-date-picker
        v-model="formInput.birthday"
        type="date"
        placeholder="Pick a day">
      </el-date-picker>
    </el-form-item>
    <el-form-item label="Account Manager" prop="accountManager" autocomplete="off">
      <el-select
        v-model="formInput.accountManager"
        filterable
        placeholder="Account Manager">
        <el-option
          v-for="item in allUser"
          :key="item.id"
          :label="item.name"
          :value="item.id">
          <span style="float: left">{{ item.id }}</span>
          <span style="float: right; color: #8492a6; font-size: 13px">{{ item.name }}</span>
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="Company" prop="idCompany" autocomplete="off">
      <el-select
        v-model="formInput.idCompany"
        filterable
        placeholder="Company">
        <el-option
          v-for="item in allCompany"
          :key="item.id"
          :label="item.name"
          :value="item.id">
          <span style="float: left">{{ item.id }}</span>
          <span style="float: right; color: #8492a6; font-size: 13px">{{ item.name }}</span>
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="Country" prop="country" autocomplete="off">
      <el-select
        v-model="formInput.country"
        filterable
        @change="setCity"
        placeholder="Choose Country">
        <el-option
          v-for="item in countries"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="City" prop="city" autocomplete="off">
      <el-select
        v-model="formInput.city"
        filterable
        :disabled="formInput.country == ''"
        placeholder="Choose City">
        <el-option
          v-for="(item, key) in city"
          :key="key"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="Street" prop="street">
      <el-input v-model="formInput.street" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="Zip Code" prop="zip">
      <el-input type="number" v-model="formInput.zip" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="Tags" prop="tags">
       <el-select
          style="width: 100%;"
          v-model="formInput.tags"
          multiple
          filterable
          allow-create
          default-first-option
          placeholder="Choose tags for your company">
          <el-option
            v-for="(item,i) in tags"
            :key="i"
            :label="item.name"
            :value="item.name">
          </el-option>
        </el-select>
    </el-form-item>
    <el-form-item label="Segment" prop="segment">
       <el-select
          style="width: 100%;"
          v-model="formInput.segment"
          multiple
          filterable
          allow-create
          default-first-option
          placeholder="Choose tags for your company">
          <el-option
            v-for="(item,i) in segment"
            :key="i"
            :label="item.name"
            :value="item.id">
          </el-option>
        </el-select>
    </el-form-item>
    <el-form-item label="Picture" prop="imageUrl">
      <el-upload
        class="avatar-uploader"
        action=""
        :auto-upload="false"
        :show-file-list="false"
        :on-change="onUploadChange"
        :before-upload="beforeAvatarUpload">
        <img v-if="formInput.imageUrl" :src="formInput.imageUrl" class="avatar">
        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
      </el-upload>
    </el-form-item>
    <el-form-item label="Custom Data" prop="customData">
      <el-input
        type="textarea"
        :rows="2"
        placeholder="Please input"
        v-model="formInput.customData">
      </el-input>
    </el-form-item>
  </el-form>
</template>
<script>
  import swal from 'sweetalert2'

  export default {
    props:['component', 'mode'],
    components:{
    },
    data () {
      return {
        formInput:{
          id:'',
          title:'',
          firstName:'',
          lastName:'',
          email:'',
          phone:'',
          handPhone:'',
          website:'',
          jobTitle:'',
          idCompany:'',
          street:'',
          zip:'',
          city:'',
          country:'',
          birthday:'',
          tags:[],
          segment:[],
          accountManager:'',
          customData:'',
          imageUrl:'https://s3-ap-southeast-1.amazonaws.com/upcode/static/default-image.jpg',
          picture:'https://s3-ap-southeast-1.amazonaws.com/upcode/static/default-image.jpg'
        },
        rulesForm:{
        },
        loading:true,
        tags:['CSS','HTNL'],
        segment:[],
        allCompany:[],
        allUser:[
          {
            id:1,
            name:'imam'
          },
          {
            id:2,
            name:'haidar'
          }
        ],
        imageData:'',
        imageUrl:'',
        imagePreview:'',
        phone:'',
        choosenDialCode:'',
        dialCode:[],
        countryCity:{
            'indonesia':['Jawa Tengah', 'Jawa Barat'],
            'Malaysia':['Tadika Mesra', 'Upin', 'Ipin']
        },
        countries:[],
        city:[],
      }
    },
    created () {
      let {getAllDialCode, getAllCountries} = this
      getAllDialCode()
      getAllCountries()
      console.log('cou', this.formInput.country)
      this.loading = false
      axios.get('/user/get-list')
      .then(result => {
        this.allUser = result.data
      })
      axios.get('/company/get-list')
      .then(result => {
        this.allCompany = result.data
      })
      axios.get('/tag/get-list')
      .then(result => {
        this.tags = result.data
        console.log(this.tags)
      })
      axios.get('/segment/get-list')
      .then(result => {
        this.segment = result.data
        console.log(this.segment)
      })

    },
    updated(){
      this.countries.forEach((v,i) =>{
        if(this.formInput.country == Object.keys(this.countryCity)[i]){
          this.city = this.countryCity[Object.keys(this.countryCity)[i]]
        }
      })
    },
    methods: {
      getBase64(file) {
        return new Promise((resolve, reject) => {
          const reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onload = () => resolve(reader.result);
          reader.onerror = error => reject(error);
        });
      },
      onUploadChange(file, fileList){
        this.formInput.imageUrl = URL.createObjectURL(file.raw);
        this.getBase64(file.raw)
        .then(result =>{
          this.formInput.picture = result
        })
        
      },
      setCity(e){
        console.log(e)
        this.formInput.city = '';
        this.countries.forEach((v,i) =>{
          if(e == Object.keys(this.countryCity)[i]){
            this.city = this.countryCity[Object.keys(this.countryCity)[i]]
          }
        })
      },
      beforeAvatarUpload(file) {
        const isJPG = file.type === 'image/jpeg';
        const isLt2M = file.size / 1024 / 1024 < 2;

        if (!isJPG) {
          this.$message.error('Avatar picture must be JPG format!');
        }
        if (!isLt2M) {
          this.$message.error('Avatar picture size can not exceed 2MB!');
        }
        return isJPG && isLt2M;
      },
      submitForm() {
        console.log('submit')
        let {$refs, mode} = this
        $refs['formInput'].validate((valid) => {
          if (valid) {
            //if form valid
            console.log(this.formInput)
            this.loading = true
            this.createContact()
          } else {
            //if form not valid
            swal({
              type: 'error',
              title: 'Oops...',
              text: 'Something went wrong!'
            })
            console.log('error submit!!');
            return false;
          }
        })
      },
      resetForm() {
        let {$refs} = this
        $refs['formInput'].resetFields();
      },
      createContact(){
        let dataGetter = this.formInput
        dataGetter.birthday = new Date(dataGetter.birthday)
        dataGetter.birthday = dataGetter.birthday.getTime()/1000
        console.log('contactGet',dataGetter)
        if(this.mode != 'update'){
          dataGetter.id = null
        }
        axios.post('/contact',dataGetter)
        .then(result =>{
          this.loading = false
          swal({
            type: 'success',
            title: 'Contact data has been saved',
            showConfirmButton: false,
            timer: 1500
          })
          console.log('tanpa address',result)
        })
        .catch(err =>{
          alert('gagal')
          this.loading = false
        })
      },
      getAllDialCode(){
        axios.get('/CountryCodes.json')
        .then(result =>{
          this.dialCode = result.data
        })
      },
      getAllCountries(){
        axios.get('/countries.json')
        .then(result=>{
          this.countryCity = result.data
        }).then(()=>{
          this.countries = Object.keys(this.countryCity)
        })
      }
    },
    watch:{
      phone: function (val) {
        this.formInput.handPhone = `${this.choosenDialCode}${val}`
      },
      choosenDialCode: function (val) {
        this.formInput.handPhone = `${val}${this.phone}`
      }
    }
  }
</script>

<style>
.avatar-uploader .el-upload {
    display: flex;
    justify-content: center;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar { 
    object-fit: contain;
    display: block;
  }
  input[type="file"]{
    opacity:0;
    display: none;
  }
 
</style>
