<template>
  <div>
    <div class="row">
      <div class="col-lg-12 text-left">
        <div class="card">
          <div class="card-content">
            <Form ref="company" component="company" mode="create"/>
            <el-button color="primary" type="primary" @click="submitForm">Submit</el-button>
            <el-button @click="resetForm">Reset</el-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import swal from 'sweetalert2'
  import Form from './Form.vue'

  export default {
    components:{
      Form
    },
    data () {
      return {
        input:[
          {
            inputType:'text',
            label:'Nama',
            prop:'nama',
            model:'',
            onChange:function(e){
              console.log(e)
            }
          },
          {
            inputType:'select',
            label:'Country',
            prop:'Country',
            options:['indonsesaa', 'japan']
          },
          {
            inputType:'text',
            label:'Nama',
            prop:'nama'
          },
          {
            inputType:'select',
            label:'Country',
            prop:'Country',
            options:['indonsesaa', 'Haidar']
          }
        ]
      }
    },
    created () {
      
    },
    methods: {
      onChange(){
        console.log('masyok')
      },
      submitForm(){
        console.log(this.input[0].model)
        let {formInput, submitForm} = this.$refs.company
        submitForm()

      },
      resetForm(){
        let {resetForm} = this.$refs.company
        resetForm()
      }
    },
    watch: {
    }
  }
</script>

<style>
 
</style>
