<template>
  <div>
    <div class="row">
      <div class="col-lg-12 text-left">
        <div class="card">
          <div class="card-content">
            <ContactForm ref="contact" mode="create"/>
            <el-button color="primary" type="primary" @click="submitForm">Submit</el-button>
            <el-button @click="resetForm">Reset</el-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import swal from 'sweetalert2'
  import Form from './Form.vue'
  import ContactForm from './Contact/ContactForm.vue'

  export default {
    components:{
      Form,
      ContactForm
    },
    data () {
      return {
        
      }
    },
    created () {
      
    },
    methods: {
      onChange(){
        console.log('masyok')
      },
      submitForm(){
        let {formInput, submitForm} = this.$refs.contact
        console.log('kirim',this.$refs.contact.formInput)
        submitForm()

      },
      resetForm(){
        let {resetForm} = this.$refs.contact
        resetForm()
      }
    },
    watch: {
    }
  }
</script>

<style>
 
</style>
