<template>
  <div>
    <el-card :body-style="{ padding: '0px' }" style="border-top: 2px solid #FBA032;">
      <div style="padding: 14px;display: flex;">
        <div style="width:100%;display: flex;">
          <div style="width:30%;" >Subject</div>
          <div style="width:30%;" >Reply To Email</div>
          <div style="width:30%;" >Created</div>
        </div>
        <div style="width:150px;display: flex;justify-content: flex-end;" class="bottom clearfix">
          Operation
        </div>
      </div>
    </el-card>
    <div v-for="v in formArr">
      <EmailCard style="margin-top: 15px;" @onDelete="deleteCard" @onSend="send" @onSave="save" :idEmail="v.id" :editable="true" :senderEmail="v.senderEmail" :content="v.body" :replyToEmail="v.replyToEmail" :attachment="v.attachment" :senderName="v.senderName" :subject="v.subject" :created="v.created_at.date" :segment="v.segment"/>
    </div>
  </div>
</template>

<script>
import EmailCard from './Email/EmailCard.vue'
import api from '../../../mixins/Api.js'

export default {
  mixins: [api.email],
  components:{
    EmailCard
  },
  data () {
    return {
      formArr:[]
    }
  },
  created(){
    let {getAllEmail} = this
    getAllEmail()
  },
  methods:{
    getAllEmail(){
      let {emailList} = this
      emailList()
      .then(result =>{
        this.formArr = result.data
        console.log(result)
      })
    },
    deleteCard(id){
      let {deleteEmail, emailList} = this
      deleteEmail({
        id:id
      })
      .then(result =>{
        return emailList()
      })
      .then(result =>{
        this.formArr = []
        return result.data
      })
      .then(result =>{
        this.formArr = result
      })
      
    },
    save(form){
      console.log('POST', form)
      let {emailList, addEmail} = this
      let formData = new FormData();
      if(form.attachment.length > 0){
        for (let i = 0; i<form.attachment.length; i++){
          formData.append('id',form.id)
          formData.append(`attachment[${i}]`, form.attachment[i])
          formData.append('subject',form.subject)
          formData.append('replyToEmail',form.replyToEmail)
          formData.append('senderName',form.senderName)
          formData.append('senderEmail',form.senderEmail)
          formData.append('body',form.body)
          form.deleteStack.forEach((v,i) =>{
            formData.append(`deleteStack[${i}]`,v)
          })
          segment.forEach((v,i) =>{
            formData.append(`segment[${i}]`,v)
          })
        }  
      }else{
        formData.append('id',form.id)
        formData.append('attachment', null)
        formData.append('subject',form.subject)
        formData.append('replyToEmail',form.replyToEmail)
        formData.append('senderName',form.senderName)
        formData.append('senderEmail',form.senderEmail)
        formData.append('body',form.body)
        form.deleteStack.forEach((v,i) =>{
          formData.append(`deleteStack[${i}]`,v)  
        })
        form.segment.forEach((v,i) =>{
          formData.append(`segment[${i}]`,v)
        })
        
      }
      this.saveEmail(formData)
      .then(result =>{
        console.log(result)
          return emailList()
        })
        .then(result =>{
          this.formArr = []
          return result.data
        })
        .then(result =>{
          this.formArr = result
        })
    },
    send(form){
      console.log('POST', form)
      let {emailList, addEmail} = this
      let formData = new FormData();
      if(form.attachment.length > 0){
        for (let i = 0; i<form.attachment.length; i++){
          formData.append('id',form.id)
          formData.append(`attachment[${i}]`, form.attachment[i])
          formData.append('subject',form.subject)
          formData.append('replyToEmail',form.replyToEmail)
          formData.append('senderName',form.senderName)
          formData.append('senderEmail',form.senderEmail)
          formData.append('body',form.body)
          form.deleteStack.forEach((v,i) =>{
            formData.append(`deleteStack[${i}]`,v)  
          })
          form.segment.forEach((v,i) =>{
            formData.append(`segment[${i}]`,v)
          })
        }  
      }else{
        formData.append('id',form.id)
        formData.append('attachment', null)
        formData.append('subject',form.subject)
        formData.append('replyToEmail',form.replyToEmail)
        formData.append('senderName',form.senderName)
        formData.append('senderEmail',form.senderEmail)
        formData.append('body',form.body)
        form.deleteStack.forEach((v,i) =>{
          formData.append(`deleteStack[${i}]`,v)  
        })
        form.segment.forEach((v,i) =>{
          formData.append(`segment[${i}]`,v)
        })
        
      }
      
      this.sendEmail(formData)
      .then(result =>{
        console.log(result)
          return emailList()
        })
        .then(result =>{
          this.formArr = []
          return result.data
        })
        .then(result =>{
          this.formArr = result
        })
    }
  }
}
</script>

<style scoped>
  .container-fluid{
    width: 100%;
  }
  .body-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .upload{
    width: 100%;
    margin-top: 20px;
  }
  .froala{
    width: 100%;
    height: 100%;
  }
</style>