<template>
  <el-card>
    <EmailForm :initialAttachment="attInit" :initialForm="form" @onFormChange="formChange"/>
    <SegmentForm @onFormChange="segmentChange" :segmentList="segment" :segmentModel="form.segment"/>
    <el-button style="margin-top: 10px;" @click="send">Send</el-button>
  </el-card>
</template>

<script>
import EmailForm from './Email/EmailForm.vue';
import SegmentForm from './Filter/SegmentForm.vue';

export default {
  name: 'app',
  components:{
    EmailForm,
    SegmentForm
  },
  data () {
    return {
      form:{
        subject:'',
        replyToEmail:'',
        body:'',
        attachment:[],
        deleteStack:[],
        segment:[]
      },
      attInit:[],
      deleteStack:[],
      segment:[]
    }
  },
  created(){
    this.getAllSegment()
    .then(result =>{
      this.segment = result.data
      console.log(result)
    })
  },
  methods:{
    send(){
      console.log('Masuk')
      let formData = new FormData();
      if(this.form.attachment.length > 0){
        for (let i = 0; i<this.form.attachment.length; i++){
          formData.append('id',this.form.id)
          formData.append(`attachment[${i}]`, this.form.attachment[i])
          formData.append('subject',this.form.subject)
          formData.append('replyToEmail',this.form.replyToEmail)
          formData.append('body',this.form.body)
          this.form.deleteStack.forEach((v,i) =>{
            formData.append(`deleteStack[${i}]`,v)  
          })
          this.form.segment.forEach((v,i) =>{
            formData.append(`segment[${i}]`,v)
          })
        }  
      }else{
        formData.append('id',this.form.id)
        formData.append('attachment', null)
        formData.append('subject',this.form.subject)
        formData.append('replyToEmail',this.form.replyToEmail)
        formData.append('body',this.form.body)
        this.form.deleteStack.forEach((v,i) =>{
          formData.append(`deleteStack[${i}]`,v)  
        })
        this.form.segment.forEach((v,i) =>{
          formData.append(`segment[${i}]`,v)
        })
      }
      axios.post('/email/to-segment',
          formData,{
          headers: {
              'Content-Type': 'multipart/form-data'
            }
          }
      ).then(result => {
          console.log(result)
      })
    },
    segmentChange(value){
      this.form.segment = value
    },
    getAllSegment(){
      return axios.get('/segment/get-list')
    },
    formChange(val){
      console.log('change',val)
      this.initialForm = val
    }
  }
}

</script>