<template>
  <el-form v-loading="loading" :model="formInput" status-icon :rules="rulesForm" ref="formInput" label-width="120px" class="demo-ruleForm">
    <div>
      <el-form-item label="Name" prop="name">
        <el-input v-model="formInput.name" autocomplete="off"></el-input>
      </el-form-item>
    </div>
    <el-form-item label="Email" prop="email">
      <el-input v-model="formInput.email" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item v-if="mode == 'update'" label="Phone" prop="phoneNumber">
      <el-input placeholder="Phone Number" v-model="formInput.phoneNumber" class="input-with-select"></el-input>
    </el-form-item>
    <el-form-item v-if="mode == 'create'" label="Phone" prop="phoneNumber">
      <el-input type="number" :placeholder="choosenDialCode" v-model="phone" class="input-with-select">
        <el-select
          style="width:100px;"
          v-model="choosenDialCode"
          filterable
          placeholder="DC"
          slot="prepend">
          <el-option
            v-for="item in dialCode"
            :key="item.name"
            :label="item.dial_code"
            :value="item.dial_code">
          </el-option>
        </el-select>
      </el-input>
    </el-form-item>
    <el-form-item v-if="component == 'company'" label="Website" prop="phoneNumber">
      <el-input placeholder="Website" v-model="formInput.website" class="input-with-select"></el-input>
    </el-form-item>
    <el-form-item v-if="component == 'company'" label="Account Manager" prop="accountManager" autocomplete="off">
      <el-select
        v-model="formInput.accountManager"
        filterable
        @change="getAllUser"
        placeholder="Account Manager">
        <el-option
          v-for="item in allUser"
          :key="item.id"
          :label="item.name"
          :value="item.id">
          <span style="float: left">{{ item.id }}</span>
          <span style="float: right; color: #8492a6; font-size: 13px">{{ item.name }}</span>
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="Country" prop="country" autocomplete="off">
      <el-select
        v-model="formInput.country"
        filterable
        @change="setCity"
        placeholder="Choose Country">
        <el-option
          v-for="item in countries"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="City" prop="city" autocomplete="off">
      <el-select
        v-model="formInput.city"
        filterable
        :disabled="formInput.country == ''"
        placeholder="Choose City">
        <el-option
          v-for="(item, key) in city"
          :key="key"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="Street" prop="street">
      <el-input v-model="formInput.street" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="Zip Code" prop="zip">
      <el-input type="number" v-model="formInput.zip" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item v-if="component == 'company'" label="Tags" prop="street">
       <el-select
          style="width: 100%;"
          v-model="formInput.tags"
          multiple
          filterable
          allow-create
          default-first-option
          placeholder="Choose tags for your company">
          <el-option
            v-for="item in tags"
            :key="item.name"
            :label="item.name"
            :value="item.name">
          </el-option>
        </el-select>
    </el-form-item>
    <el-form-item label="Picture" prop="imageUrl">
      <el-upload
        class="avatar-uploader"
        action="https://jsonplaceholder.typicode.com/posts/"
        :auto-upload="false"
        :show-file-list="false"
        :on-change="onUploadChange"
        :before-upload="beforeAvatarUpload">
        <img v-if="formInput.imageUrl" :src="formInput.imageUrl" class="avatar">
        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
      </el-upload>
    </el-form-item>
  </el-form>
</template>
<script>
  import swal from 'sweetalert2'

  export default {
    props:['component', 'mode'],
    components:{
    },
    data () {
      return {
        formInput:{
          id:'',
          name:'',
          email:'',
          tags:[],
          website:'',
          accountManager:'',
          country:'',
          city:'',
          street:'',
          zip:'',
          phoneNumber:'',
          imageUrl:'https://s3-ap-southeast-1.amazonaws.com/upcode/static/default-image.jpg',
          imageBase64:'https://s3-ap-southeast-1.amazonaws.com/upcode/static/default-image.jpg'
        },
        rulesForm:{
          // name:[
          //   { required: true, message: 'Please input your name', trigger: 'blur' }
          // ],
          // email:[
          //   { required: true, message: 'Please input email address', trigger: 'blur' },
          //   { type: 'email', message: 'Please input correct email address', trigger: ['blur', 'change'] }
          // ],
          // country:[
          // ],
          // city:[
          // ],
          // street:[
          // ],
          // zip:[
          // ],
          // phoneNumber:[
          //   { required: false, message: 'Please input your phone number', trigger: 'blur' }
          // ]
        },
        loading:true,
        tags:['CSS','HTNL'],
        allUser:[
          {
            id:1,
            name:'imam'
          },
          {
            id:2,
            name:'haidar'
          }
        ],
        imageData:'',
        imageUrl:'',
        imagePreview:'',
        phone:'',
        choosenDialCode:'',
        dialCode:[],
        countryCity:{
            'indonesia':['Jawa Tengah', 'Jawa Barat'],
            'Malaysia':['Tadika Mesra', 'Upin', 'Ipin']
        },
        countries:[],
        city:[],
      }
    },
    created () {
      let {getAllDialCode, getAllCountries} = this
      getAllDialCode()
      getAllCountries()
      console.log('cou', this.formInput.country)
      this.loading = false
      axios.get('/user/get-list')
      .then(result => {
        this.allUser = result.data
      })
      axios.get('/tag/get-list')
      .then(result => {
        this.tags = result.data
      })

    },
    updated(){
      this.countries.forEach((v,i) =>{
        if(this.formInput.country == Object.keys(this.countryCity)[i]){
          this.city = this.countryCity[Object.keys(this.countryCity)[i]]
        }
      })
    },
    computed:{
    },
    methods: {
      getBase64(file) {
        return new Promise((resolve, reject) => {
          const reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onload = () => resolve(reader.result);
          reader.onerror = error => reject(error);
        });
      },
      onUploadChange(file, fileList){
        this.formInput.imageUrl = URL.createObjectURL(file.raw);
        this.getBase64(file.raw)
        .then(result =>{
          this.formInput.imageBase64 = result
        })
        
      },
      setCity(e){
        console.log(e)
        this.formInput.city = '';
        this.countries.forEach((v,i) =>{
          if(e == Object.keys(this.countryCity)[i]){
            this.city = this.countryCity[Object.keys(this.countryCity)[i]]
          }
        })
      },
      beforeAvatarUpload(file) {
        const isJPG = file.type === 'image/jpeg';
        const isLt2M = file.size / 1024 / 1024 < 2;

        if (!isJPG) {
          this.$message.error('Avatar picture must be JPG format!');
        }
        if (!isLt2M) {
          this.$message.error('Avatar picture size can not exceed 2MB!');
        }
        return isJPG && isLt2M;
      },
      submitForm() {
        console.log('submit')
        let {$refs, mode} = this
        $refs['formInput'].validate((valid) => {
          if (valid) {
            //if form valid
            this.loading = true
            if(this.mode == 'create'){
              //mode create
              if(this.component == 'company'){
                //component == company then create company
                this.createCompany()
              }else{
                //component == user then create user
                this.createUser()
              }
            }else if(this.mode == 'update'){
              console.log('update')
              //mode Update
              if(this.component == 'company'){
                //component == company then update company
                this.updateCompany()
              }else{
                //component == user then update user
                this.updateUser()
              }
            }
          } else {
            //if form not valid
            swal({
              type: 'error',
              title: 'Oops...',
              text: 'Something went wrong!'
            })
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm() {
        let {$refs} = this
        $refs['formInput'].resetFields();
      },
      createUser(){
        let dataGetter = {
          name:this.formInput.name,
          website:this.formInput.website,
          phone:this.formInput.phoneNumber,
          email:this.formInput.email,
          street:this.formInput.street,
          zip:this.formInput.zip,
          city:this.formInput.city,
          country:this.formInput.country,
          picture:this.formInput.imageBase64
        }
        axios.post('/user',dataGetter)
        .then(result =>{
          this.loading = false
          swal({
            type: 'success',
            title: 'User data has been saved',
            showConfirmButton: false,
            timer: 1500
          })
          console.log('tanpa address',result)
        })
        .catch(err =>{
          this.loading = false
        })
      },
      createCompany(){
        let dataGetter = {
          name:this.formInput.name,
          website:this.formInput.website,
          phone:this.formInput.phoneNumber,
          email:this.formInput.email,
          street:this.formInput.street,
          zip:this.formInput.zip,
          city:this.formInput.city,
          country:this.formInput.country,
          picture:this.formInput.imageBase64,
          tags:this.formInput.tags,
          accountManager:this.formInput.accountManager
        }
        console.log('data uncal',dataGetter)
        axios.post('/company',dataGetter)
        .then(result =>{
          this.loading = false
          swal({
            type: 'success',
            title: 'User data has been saved',
            showConfirmButton: false,
            timer: 1500
          })
        })
        .catch(err =>{
          this.loading = false
        })
        
      },
      updateUser(){
        let dataGetter = {
          id:this.formInput.id,
          name:this.formInput.name,
          website:this.formInput.website,
          phone:this.formInput.phoneNumber,
          email:this.formInput.email,
          street:this.formInput.street,
          zip:this.formInput.zip,
          city:this.formInput.city,
          country:this.formInput.country,
          picture:this.formInput.imageBase64
        }
        axios.post('/user',dataGetter)
        .then(result =>{
          this.loading = false
          swal({
            type: 'success',
            title: 'User data has been saved',
            showConfirmButton: false,
            timer: 1500
          })
          console.log('tanpa address',result)
        })
        .catch(err =>{
          this.loading = false
        })
      },
      updateCompany(){
        let dataGetter = {
          id:this.formInput.id,
          name:this.formInput.name,
          website:this.formInput.website,
          phone:this.formInput.phoneNumber,
          email:this.formInput.email,
          street:this.formInput.street,
          zip:this.formInput.zip,
          city:this.formInput.city,
          country:this.formInput.country,
          picture:this.formInput.imageBase64,
          tags:this.formInput.tags,
          accountManager:this.formInput.accountManager
        }
        console.log('data uncal',dataGetter)
        axios.post('/company',dataGetter)
        .then(result =>{
          this.loading = false
          swal({
            type: 'success',
            title: 'User data has been saved',
            showConfirmButton: false,
            timer: 1500
          })
        })
        .catch(err =>{
          console.log('gagal')
          this.loading = false
        })
      },
      getAllUser(){

      },
      getAllDialCode(){
        axios.get('/CountryCodes.json')
        .then(result =>{
          this.dialCode = result.data
        })
      },
      getAllCountries(){
        axios.get('/countries.json')
        .then(result=>{
          this.countryCity = result.data
        }).then(()=>{
          this.countries = Object.keys(this.countryCity)
        })
      }
    },
    watch:{
      phone: function (val) {
        this.formInput.phoneNumber = `${this.choosenDialCode}${val}`
      },
      choosenDialCode: function (val) {
        this.formInput.phoneNumber = `${val}${this.phone}`
      }
    }
  }
</script>

<style>
.avatar-uploader .el-upload {
    display: flex;
    justify-content: center;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar { 
    object-fit: contain;
    display: block;
  }
  input[type="file"]{
    opacity:0;
    display: none;
  }
 
</style>
