<template>
  <div>
    <div class="segmentContainer" v-for="(item,i) in segmentArr">
      <el-tabs type="border-card">
        <el-tab-pane>
          <span slot="label"><i class="el-icon-date"></i> Route</span>
          <div>Name : {{item.name}}</div>
          <div>Alias : {{item.alias}}</div>
          <div>Description : {{item.description}}</div>
        </el-tab-pane>
        <el-tab-pane label="Detail">
          <FilterCardView v-for="(v,i) in item.filter" ref="card" :conjunction="v.conjunction" :key="i" :stackKey="v.key" :name="v.name" :option="v.option" :filterValue="v.filterValue"/>
        </el-tab-pane>
        <el-tab-pane label="Edit">
          <div>
            <Segment :name="item.name" :alias="item.alias" :description="item.description"/>
          </div>
          <div style="margin-top: 10px;padding:20px 0px 20px 20px;background-color: #DEEBF8;width: auto;">
            <Filters ref="filter" :filters="item.filterSlice"/>
          </div>
          <el-button style="background-color:#619376;margin-top: 10px;color:white;" @click="saveHandler(item, i)">Save</el-button>
          <el-button style="background-color:#D94C4C;margin-top: 10px;color:white;" @click="deleteHandler(item, i)">Delete</el-button>
        </el-tab-pane>

      </el-tabs>
    </div>
  </div>
</template>

<script>
  import swal from 'sweetalert2'
  import Segment from './Filter/Segment.vue'
  import Filters from './Filter/Filters.vue'
  import FilterCardView from './Filter/FilterCardView.vue'

  export default {
    components:{
      Segment,
      Filters,
      FilterCardView
    },
    data () {
      return {
        segmentArr:[]
      }
    },
    created(){
      let {fetchSegments} = this
      fetchSegments()
        .then(result =>{
          result.data.forEach(v =>{
            v.filter = JSON.parse(v.filter)
            v.filterSlice = v.filter.slice()
          })
          this.segmentArr = result.data
        })
    },
    methods: {
      deleteHandler(item, key){
        this.deleteSegment({
          id:item.id
        })
          .then(result =>{
            this.segmentArr.splice(key,1)
          })
      },
      saveHandler(item, key){
        console.log('getarr',item.id)
        let filterString = JSON.stringify(this.$refs.filter[key].filterArray.slice())
        this.saveSegment({
          id:item.id,
          name:item.name,
          alias:item.alias,
          description:item.description,
          filter: filterString
        })
          .then(result =>{
            this.fetchSegments()
              .then(result =>{
                result.data.forEach(v =>{
                  v.filter = JSON.parse(v.filter)
                  v.filterSlice = v.filter.slice()
                })
                this.segmentArr = result.data
              })
          })
      },
      saveSegment(request){
        return axios.post('/segment',request)
      },
      deleteSegment(request){
        return axios.post('/segment/delete',request)
      },
      fetchSegments(){
        return axios.get('/segment/get-list')
      }
    }
  }
</script>

<style>
  .segmentContainer{
    margin-top:20px;
  }
</style>
