<template>
  <el-tabs :before-leave="tabsChange" type="border-card">
    <el-tab-pane value="segment">
      <span slot="label"><i class="el-icon-date"></i> Segment</span>
      <Segment @onSegmentChange="getSegmentData"/>
    </el-tab-pane>
    <el-tab-pane value="filter">
      <span slot="label"><i class="el-icon-date"></i> Filters </span>
      <Filters ref="filter" @onFilterChange="getFilterData"/>
    </el-tab-pane>
    <el-tab-pane value="view" v-if="filterData.length > 0">
      <span slot="label"><i class="el-icon-date"></i> Save </span>
      <PreviewSegment ref="prev" :filterData="filterData" :segmentData="segmentData"/>
      <el-button @click="save" type="primary">Save</el-button>
    </el-tab-pane>     
  </el-tabs>
</template>

<script>
  import swal from 'sweetalert2'
  import Segment from './Filter/Segment.vue'
  import Filters from './Filter/Filters.vue'
  import PreviewSegment from './Filter/PreviewSegment.vue'

  export default {
    components:{
      Segment,
      Filters,
      PreviewSegment
    },
    data () {
      return {
        filterData:[],
        segmentData:[],
        flterString:''
      }
    },
    methods: {
      tabsChange(activeName,oldActiveName){
        if(activeName == '1' && oldActiveName == '2'){
          this.$refs.prev.checked = false
        }
      },
      save(){
        console.log(this.filterData)
        let filterString = JSON.stringify(this.filterData)
        console.log(filterString)
        axios.post('/segment',{
          name:this.segmentData.name,
          alias:this.segmentData.alias,
          description:this.segmentData.description,
          filter: filterString
        })
        .then(result =>{
          console.log(result)
        })
      },
      getFilterData(value){
        this.filterData = value

      },
      getSegmentData(value){
        this.segmentData = value
      }
    },
    watch:{
      filterData:{
        handler(val){
          console.log('watch in segment container',val) 
        },
        deep:true
        
      }
    }
  }
</script>

<style>
</style>
