<template>
  <el-form :model="formInput" status-icon :rules="rulesForm" ref="formInput" label-width="120px" class="demo-ruleForm">
    <el-form-item label="Name" prop="name">
      <el-input v-model="formInput.name" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="Email" prop="email">
      <el-input v-model="formInput.email" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="Phone" prop="phoneNumber">
      <el-input type="number" :placeholder="choosenDialCode" v-model="phone" class="input-with-select">
        <el-select
          style="width:100px;"
          v-model="choosenDialCode"
          filterable
          placeholder="DC"
          slot="prepend">
          <el-option
            v-for="item in dialCode"
            :key="item.name"
            :label="item.dial_code"
            :value="item.dial_code">
          </el-option>
        </el-select>
      </el-input>
    </el-form-item>
    <el-form-item label="Country" prop="country" autocomplete="off">
      <el-select
        v-model="formInput.country"
        filterable
        @change="setCity"
        placeholder="Choose Country">
        <el-option
          v-for="item in countries"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="City" prop="city" autocomplete="off">
      <el-select
        v-model="formInput.city"
        filterable
        :disabled="formInput.country == ''"
        placeholder="Choose City">
        <el-option
          v-for="item in city"
          :key="item + 'city'"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="Street" prop="street">
      <el-input v-model="formInput.street" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="Zip Code" prop="zip">
      <el-input type="number" v-model="formInput.zip" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item>
      <el-upload
        action="https://jsonplaceholder.typicode.com/posts/"
        list-type="picture-card"
        :on-preview="handlePictureCardPreview"
        :on-remove="handleRemove"
        :auto-upload="false">
        <i class="el-icon-plus"></i>
      </el-upload>
      <el-dialog :visible.sync="dialogVisible">
        <img width="100%" :src="dialogImageUrl" alt="">
      </el-dialog>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submitForm('formInput')">Submit</el-button>
      <el-button @click="resetForm('formInput')">Reset</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
  import swal from 'sweetalert2'
  import ImageUploader from './ImageUploader.vue'

  export default {
    props:['mode'],
    components:{
      ImageUploader
    },
    data () {
      return {
        formInput:{
          name:'',
          email:'',
          country:'',
          city:'',
          street:'',
          zip:'',
          phoneNumber:''
        },
        rulesForm:{
          name:[
            { required: true, message: 'Please input your name', trigger: 'blur' },
            { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
          ],
          email:[
            { required: true, message: 'Please input email address', trigger: 'blur' },
            { type: 'email', message: 'Please input correct email address', trigger: ['blur', 'change'] }
          ],
          country:[
            { required: true, message: 'Please input your country', trigger: 'blur' }
          ],
          city:[
            { required: true, message: 'Please input your city', trigger: 'blur' }
          ],
          street:[
            { required: true, message: 'Please input your street', trigger: 'blur' }
          ],
          zip:[
            { required: true, message: 'Please input your zip code', trigger: 'blur' }
          ],
          phoneNumber:[
            { required: false, message: 'Please input your phone number', trigger: 'blur' }
          ]
        },
        dialogImageUrl: '',
        dialogVisible: false,
        imageData:'',
        imageUrl:'',
        phone:'',
        choosenDialCode:'',
        dialCode:[],
        countryCity:{
            'indonesia':['Jawa Tengah', 'Jawa Barat'],
            'Malaysia':['Tadika Mesra', 'Upin', 'Ipin']
        },
        countries:[],
        city:[]
      }
    },
    created () {
      this.getAllDialCode()
      axios.get('/countries.json')
      .then(result=>{
        this.countryCity = result.data
      }).then(()=>{
        this.countries = Object.keys(this.countryCity)
        console.log(this.countries)  
      })
      
    },
    methods: {
      setCity(e){
        console.log(e)
        this.formInput.city = '';
        this.countries.forEach((v,i) =>{
          if(e == Object.keys(this.countryCity)[i]){
            this.city = this.countryCity[Object.keys(this.countryCity)[i]]
          }
        })
      },
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePictureCardPreview(file){
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      },
      previewImg(e){
        let {files} = e.target
        if(files && files[0]){
          let reader = new FileReader()
          reader.onload = (e) =>{
            this.imageData = e.target.result
            console.log(this.imageData)
          }
          reader.readAsDataURL(files[0])
        } 
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            if(this.mode == 'create'){
              alert('Create!');
            }else if(this.mode == 'update'){
              alert('Update!');
            }
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
      getAllDialCode(){
        axios.get('/CountryCodes.json')
        .then(result =>{
          this.dialCode = result.data
        })
      }
    },
    watch: {
      phone: function (val) {
        this.phoneNumber = `${this.choosenDialCode}${val}`
        console.log(this.phoneNumber)
      },
      choosenDialCode: function (val) {
        this.phoneNumber = `${val}${this.phone}`
        console.log(this.phoneNumber)
      },
      formInput: function(val){
        console.log(val)
      }
    }
  }
</script>

<style>
 
</style>
