<template>
  <div>
    <div class="row">
      <el-dialog v-loading="loading" :append-to-body="true" title="Edit User" :visible.sync="editDialog">
        <Form ref="user" component="user" mode="update"/>
        <el-button color="primary" type="primary" @click="submitForm">Submit</el-button>
        <el-button @click="resetForm">Reset</el-button>
      </el-dialog>
      <div class="col-lg-12 text-center">
        <div class="card">
          <el-table
            :data="forms"
            style="width: 100%">
            <el-table-column
              type="index"
              label="No">
            </el-table-column>
            <el-table-column
              prop="name"
              label="Name">
            </el-table-column>
            <el-table-column
              prop="email"
              label="Email">
            </el-table-column>
            <el-table-column
              label="City"
              prop="idAddress.city">
            </el-table-column>
            <el-table-column
              prop="created_at.date"
              label="Created At">
            </el-table-column>
            <el-table-column
              prop="updated_at.date"
              label="Updated At">
            </el-table-column>
<!--             <el-table-column
              prop="phone"
              label="Phone Number">
            </el-table-column> -->
            <el-table-column
            label="Operations">
              <template slot-scope="scope">
                <el-button size="mini" @click="edit(scope.$index, scope.row)">Edit</el-button>
                <el-button size="mini" type="danger" @click="deleteRow(scope.$index, scope.row)">Delete</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import swal from 'sweetalert2'
  import Form from './Form.vue'
  import api from '../../../mixins/Api.js'

  export default {
    mixins:[api.user],
    components:{
      Form
    },
    data () {
      return {
        editDialog:true,
        forms:[],
        loading:true
      }
    },
    created () {
      this.editDialog = true
      this.getAllUser()
      
    },
    methods: {
      getAllUser(){
        this.userList()
        .then(result =>{
          this.forms = result.data
        })
        .then(()=>{
          this.editDialog = false
          this.loading =false
        })
      },
      submitForm(){
        let {formInput, submitForm} = this.$refs.user
        this.editDialog = false
        this.loading = true
        submitForm()
        this.getAllUser()

      },
      resetForm(){
        let {resetForm} = this.$refs.user
        resetForm()
      },
      fetchImage(text){
        return (
          axios.get(`data:text;base64,${text}`)
        )
      },
      edit(index, row){
        let temp
        this.fetchImage(row.picture)
        .then(result =>{
          if(row.idAddress == null){
              temp = {
                id:row.id,
                name:row.name,
                email:row.email,
                phoneNumber:row.phone,
                imageUrl:row.picture,
                imageBase64:result.data,
                idAddress:null,
                country:"",
                city:"",
                street:"",
                zip:null
              }
          }else{
            temp = {
              id:row.id,
              name:row.name,
              email:row.email,
              phoneNumber:row.phone,
              imageUrl:row.picture,
              imageBase64:result.data,
              idAddress:row.idAddress.id,
              country:row.idAddress.country,
              city:row.idAddress.city,
              street:row.idAddress.street,
              zip:row.idAddress.zip
            }
          }
          return temp
        })
        .then(result =>{
          let temp = result
          console.log('te',temp)
          this.fetchImage(temp.imageUrl)
          .then(result =>{
            temp.imageUrl = result.data
          })
          console.log('aa',temp)
          this.$refs.user.formInput = temp
          this.editDialog = true;
        })
        // console.log(row)
        // let temp
        // if(row.idAddress == null){
        //   console.log('masuk')
        //   temp = {
        //     id:row.id,
        //     name:row.name,
        //     email:row.email,
        //     phone:row.phone,
        //     imageUrl:row.picture,
        //     country:"",
        //     city:"",
        //     street:"",
        //     zip:null
        //   }
        // }else{
        //   temp = {
        //     id:row.id,
        //     name:row.name,
        //     email:row.email,
        //     phone:row.phone,
        //     imageUrl:row.picture,
        //     idAddress:row.idAddress.id,
        //     country:row.idAddress.country,
        //     city:row.idAddress.city,
        //     street:row.idAddress.street,
        //     zip:row.idAddress.zip
        //   }
        // }
        // console.log('te',temp)
        // this.fetchImage(temp.imageUrl)
        // .then(result =>{
        //   temp.imageUrl = result.data
        // })
        // .then(()=>{
        //   this.$refs.user.formInput = temp
        //   this.editDialog = true
        // })
        
      },
      deleteRow(index, row){
        this.loading = true
        console.log('will',row.id)
        axios.post('/user/delete',{
            id:row.id
        })
        .then(result =>{
          console.log(result)
          console.log(row)
          this.forms.splice(index,1)
          console.log('forms',this.forms)
          swal({
            type: 'success',
            title: 'User data has been deleted',
            showConfirmButton: false,
            timer: 1500
          })
          this.loading = false
        })
        .catch(err=>{
          swal({
            type: 'error',
            title: 'Oops...',
            text: 'Something went wrong!'
          })
          this.loading = false
        })
      }
    }
  }
</script>

<style>
</style>
