   input-group label{
        position: absolute;
        width: 100%;
        top: 45px;
        left: 46px;
      }

      .input-group{
        margin-bottom: 30px;
      }

      .input-group-addon, .form-control:focus .input-group-addon, .form-control:active .input-group-addon{
        background-color: transparent;
        border: none;
        border-radius: none;
        color: #fff;
      }

      .input-group-addon + .form-control{
        padding-left:18px;
      }

      .input-group .form-control:last-child,
      .input-group-addon:last-child,
      .input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
      .input-group-btn:first-child>.btn:not(:first-child),
      .input-group-btn:last-child>.btn,
      .input-group-btn:last-child>.btn-group>.btn,
      .input-group-btn:last-child>.dropdown-toggle{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      .login-page{
        background-image: url('/img/background/background-marketingmesh.png');
        background-size:     cover;                      /* <------ */
        background-repeat:   no-repeat;
        background-position: center center;
      }

      .navbar a{
        color: #169ed8;
        transition: all 100ms ease-in;
      }

      .navbar a:hover{
        color: #0c658c;
      }
      
      .logo{
        position: absolute !important;
        top: -210px;
        right: 135px;
      }

      .login-page > .content, .lock-page > .content {
        padding-top: 35vh !important;
      }

      .hexagon {
        overflow: hidden;
        visibility: hidden;
        -webkit-transform: rotate(120deg);
            -moz-transform: rotate(120deg);
            -ms-transform: rotate(120deg);
              -o-transform: rotate(120deg);
                transform: rotate(120deg);
        }
      .hexagon-in1 {
        overflow: hidden;
        width: 100%;
        height: 100%;
        -webkit-transform: rotate(-60deg);
          -moz-transform: rotate(-60deg);
            -ms-transform: rotate(-60deg);
            -o-transform: rotate(-60deg);
                transform: rotate(-60deg);
      }
      .hexagon-in2 {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        background-color: #ffffff;
        visibility: visible;
        -webkit-transform: rotate(-60deg);
          -moz-transform: rotate(-60deg);
            -ms-transform: rotate(-60deg);
            -o-transform: rotate(-60deg);
                transform: rotate(-60deg);
      }
      .hexagon1 {
        width: 120px;
        height: 240px;
      }

      .card-title{
        display: inline;
        color: #ffffff !important;
      }

      .card .card-header .logo img{
        max-height: 80px;
        width: auto;
        height: auto;
      }

      .card-header{
        text-align: center;
      }

      .card{
        background-color: #169ed8;
        color: #ffffff;
      }

      .forgot{
        line-height:38px;
      }

      .card-content{
        margin-top: 15px;
        margin-bottom: 15px;
      }

      a {
        color: #ccd8d8;
        transition: all 100ms ease-in;
      }

      a:hover {
        color: #fff;
      }

      .btn.btn-fill, .navbar .navbar-nav > li > a.btn.btn-fill{
        color: #169ed8;
        background-color: #FFFFFF;
      }

      .btn, .navbar .navbar-nav > li > a.btn{
        border-color: #169ed8;
      }

      .btn.btn-fill:hover,
      .btn.btn-fill:focus, 
      .btn.btn-fill:active, 
      .btn.btn-fill.active, 
      .open > .btn.btn-fill.dropdown-toggle, 
      .navbar .navbar-nav > li > a.btn.btn-fill:hover, 
      .navbar .navbar-nav > li > a.btn.btn-fill:focus, 
      .navbar .navbar-nav > li > a.btn.btn-fill:active, 
      .navbar .navbar-nav > li > a.btn.btn-fill.active, 
      .open > .navbar .navbar-nav > li > a.btn.btn-fill.dropdown-toggle{
        background-color: #169ed8;
        color: #FFFFFF;
        border-color: #FFFFFF;
      }

      