<template>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-minimize">
        <button class="btn btn-fill btn-icon btn-danger" @click="minimizeSidebar">
          <i :class="$sidebar.isMinimized ? 'ti-menu-alt' : 'ti-more-alt'"></i>
        </button>
      </div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" :class="{toggled: $sidebar.showSidebar}" @click="toggleSidebar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
        <a class="navbar-brand">{{this.$route.name}}</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-right">
          <li :class="[{open:isOpen}]" v-click-outside="closeDropDown" id="userMenu">
            <slot name="title" @click="toggleDropDown" >
              <a class="dropdown-toggle btn-rotate" data-toggle="dropdown" href="#">
                <div class="notification">
                  <img :src="'https://ui-avatars.com/api/?name=' + name + '&background=0D8ABC&color=fff&rounded=true'"/>&nbsp;&nbsp;{{ name }}
                  <b class="caret"></b>
                </div>
              </a>
            </slot>
            <ul class="dropdown-menu">
              <li>
                <a href="/locale/en">
                  <span class="flag-icon flag-icon-gb"></span> English
                </a>
              </li>
              <li>
                <a href="/locale/id">
                  <span class="flag-icon flag-icon-id"></span> Bahasa Indonesia
                </a>
              </li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
  export default {
    data () {
      return {
        activeNotifications: false,
        isOpen: false,
        name: 'Teguh Suandi',
      }
    },
    methods: {
      toggleDropDown () {
        this.isOpen = !this.isOpen;
      },
      closeDropDown (event) {
        this.isOpen = false
        this.activeNotifications = false
      },
      toggleSidebar () {
        this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
      },
      minimizeSidebar () {
        this.$sidebar.toggleMinimize()
      }
    }
  }
</script>

<style lang="scss">
  .break{
    word-break: break-word;
    white-space: normal;
  }

  .v-step{
    z-index: 10;
  }
  .v--modal-box{
    height: auto !important;
  }
  .modal-content{
    .custom-modal-wrapper{
      margin: 20px;
    }
    .custom-modal-header{
      border-bottom: 1px solid #e8e7e3;
    }
  }
  .navbar-default{
    border-bottom: none;
    -webkit-box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  }

  .collapsed {
    transition: opacity 1s;
  }

  .link{
    color: #909399;
    transition: all 100ms ease-in;
    margin-right: -4px;
    cursor: pointer;
    &:hover{
      color: #141414;
    }
  }

  .example-modal-content .custom-modal-wrapper{
    margin: 30px 20px 15px;
  }

  .v--modal-box.v--modal{
    .custom-modal-header{
      h4.title{
        min-width: calc(100% - 70px);
        max-width: calc(100% - 70px);
        display: inline-block;
        vertical-align: middle;
        margin: 0px;
      }
      .close{
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 50px;
      }
    }
  }

  .member-wrapper{
    text-align: right;
    .member-photo{
      display: inline;
      img{
        border-radius: 25px;
        width: auto;
        height: 20px;
        border-width: 2px;
        border-color: #a10100;
      }
    }
  }

  #userMenu{
    img{
      border-radius: 50%;
      height: 38px;
      width: 38px;
    }
    a{
      padding: 18px 15px;
    }
  }


  @media (min-width: 992px){
    .navbar-search-form{
      width: calc(100vw - 665px);
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
