<template>
  <div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>{{ $t('message.welcome') }} hai</h1>
      </div>
    </div>
  </div>
</template>

<script>
  export default {}
</script>

<style>
</style>
