<template>
  <el-card :body-style="{ padding: '0px' }" style="margin:20px;margin-left: 0px;border-top:2px solid #169ed8;">
    <div style="margin: 10px;">
      <el-select :disabled="!editable" v-if="$vnode.key > 0" style="width: 100px;" v-model="item.conjunction" placeholder="Select">
        <el-option
          v-for="(item,i) in or"
          :key="i"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
      <div style="width: 40px;margin: 5px;">{{name}}</div>
      <el-select :disabled="!editable" style="width: 45%;" v-model="item.option" placeholder="Option">
        <el-option
          v-for="(item,i) in options"
          :key="i"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
      <el-select :disabled="!editable" style="width: 45%;" v-if="name == 'Country'" filterable v-model="item.filterValue" placeholder="Filter Value Country">
        <el-option
          v-for="(item,i) in filtersCountry"
          :key="i"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
      <el-select :disabled="!editable" style="width: 45%;" v-if="name == 'Tags'" multiple filterable v-model="item.filterValue" placeholder="Filter Value Tags">
        <el-option
          v-for="(item,i) in filtersTags"
          :key="i"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
      <el-input :disabled="!editable" placeholder="Filter Value" style="width: 45%;" v-if="name == 'City' || name == 'Company'" v-model="item.filterValue" autocomplete="off"></el-input>
      <el-button v-if="editable == true" @click="deleteSelf" type="danger" icon="el-icon-delete" circle></el-button>
    </div>
  </el-card>
</template>

<script>
  import swal from 'sweetalert2'

  export default {
    components:{
    },
    props:['editable','stackKey','name','conjunction', 'option', 'filterValue'],
    data () {
      return {
        filterMultiple:true,
        filtersCountry:[],
        filtersTags:[],
        or:['AND','OR'],
        selectOr:'',
        filters:[],
        item:[],
        options:[],
        countries:[]
      }
    },
    methods: {
      deleteSelf(){
        this.$emit('onDelete', this.stackKey)
      },
      setFilterData(name){
        switch(name){
          case 'Tags':{
            let tempTags = []
            axios.get('tag/get-list')
            .then(result =>{
              result.data.forEach(v =>{
                tempTags.push(v.name)
              })
              this.filtersTags = tempTags
            })
            break
          };
          case 'Country':{
            this.filterMultiple = false
            axios.get('/countries.json')
            .then(result=>{
              this.filtersCountry = Object.keys(result.data)
            })
            break
          };
          case 'City':{
            this.filters = ''
            break
          };
          case 'Company':{
            this.filters = ''
            break
          };

        }
      },
      setOptionArray(name){
        return (name == 'Tags' || name == 'Country')?['including','excluding']:['equals','not equals']
      }
    },
    watch:{
      item:{
        handler(val){
          this.$emit('dataUpdate', val)
          this.setFilterData(val.name)
          console.log(`item ${this.name} update`)
        },
        deep:true
      },
      stackKey:{
        handler(){
          this.options = this.setOptionArray(this.name)
          this.setFilterData(this.name)
          let defOption = this.name == 'City' || this.name == 'Company' ? 'equals':'include'
          let itemTemp = {
            key:this.stackKey,
            name:this.name,
            conjunction:this.conjunction,
            option:defOption,
            filterValue:this.filterValue
          }
          this.item = itemTemp  
        },
        immediate:true
        
      }
    }
  }
</script>

<style scoped>
  .or{
    background-color:#909399;
    color:white;
  }
</style>
