<template>
  <div>
    <el-select v-model="lastSelectedOption" placeholder="Select">
      <el-option
        v-for="item in options"
        :key="item"
        :label="item"
        :value="item">
        <span @click="addFilter(item)" style="width:100%;float: right; color: #8492a6; font-size: 13px">{{ item }}</span>
      </el-option>
    </el-select>
    <div >
      <template v-for="(v,i) in filterArray">
        <FilterCard :editable="true" @onDelete="deleteCard" :key="i" @dataUpdate="dataUpdate" :conjunction="v.conjunction" :stackKey="v.key" :name="v.name" :option="v.option" :filterValue="v.filterValue"/>
        <!-- <vue-json-pretty
          :path="'res'"
          :data="v">
        </vue-json-pretty> -->
      </template>
      
    </div>
    
  </div>
</template>

<script>
  import swal from 'sweetalert2'
  import FilterCard from './FilterCard'
  import VueJsonPretty from 'vue-json-pretty'
  import _ from 'lodash'

  export default {
    props:['filters'],
    components:{
      FilterCard,
      VueJsonPretty
    },
    data () {
      return {
        options:['Tags','Country','City','Company'],
        lastSelectedOption:'',
        filterArray:[],
        countClick:-1
      }
    },
    created(){
      this.filterArray = this.filters
      if(!this.filters){
        this.filterArray = []
      }
    },
    methods: {
      uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
          return v.toString(16);
        });
      },
      getIndexByKey(array, key){
        return _.findIndex(array, function(value) { return value.key == key })
      },
      deleteCard(key){
        let tempKey = this.getIndexByKey(this.filterArray, key)
        this.$delete(this.filterArray, tempKey)
      },
      dataUpdate(newValue){
        console.log('dataUpdate',newValue)
        let temp = this.filterArray.slice()
        this.filterArray = []
        this.$set(temp, _.findIndex(temp, function(o) { return o.key == newValue.key }),newValue)
        this.filterArray = temp
        this.$emit('onFilterChange', temp)
      },
      setInitialProps(item){
        let tempProps = {
          key:this.uuidv4(),
          name:item,
          conjunction:'AND',
          option:'',
          filterValue:''
        }
        item != 'Tags'?tempProps.filterValue = '':tempProps.filterValue = []
        return tempProps 
      },
      addFilter(item){
        this.filterArray.push(this.setInitialProps(item))
      }
    },
    watch:{
      filterArray:{
        handler(newValue){
          this.$emit('onFilterChange', newValue)
        },
        deep:true
      }
    }
  }
</script>

<style>
</style>
