<template>
  <el-card :body-style="{ padding: '0px' }" style="margin:20px;margin-left: 0px;">
    <div style="height: 10px;background-color: #409EFF;" v-if="$vnode.key <= 0">
    </div>
    <div :style="conjunctionStyle" v-if="$vnode.key > 0">
      {{conjunction}}
    </div>
    <div style="margin: 10px;">
      <div>
        {{name}}
      </div>
      <div>
        <div v-if="name != 'Tags'">
          <span style="display: inline-block;width: 80px;">{{option}} : </span>
          {{filterValue}}
        </div>
        <div v-if="name == 'Tags'">
          <span style="display: inline-block;width: 80px;">{{option}} : </span>
          <span v-for="v in filterValue">
            <el-tag type="warning" style="color:white;">{{v}}</el-tag>
          </span>
        </div>
      </div>
    </div>
  </el-card>
</template>
<script>
  import swal from 'sweetalert2'

  export default {
    components:{
    },
    props:['editable','stackKey','name','conjunction', 'option', 'filterValue'],
    data () {
      return {
        conjunctionStyle:{

        }
      }
    },
    watch:{
      conjunction:{
        handler(val){
          if(val == 'AND'){
            this.conjunctionStyle = {
              'background-color': '#409EFF',
              'color': 'white',
              'padding-left': '10px'
            }
         }else{
            this.conjunctionStyle = {
              'background-color': '#E6A23C',
              'color': 'white',
              'padding-left': '10px'
            }
         }
        },
        immediate: true
      }
    }
  }
</script>

<style scoped>
  .or{
    background-color:#909399;
    color:white;
  }
</style>
