<template>
  <div :body-style="{ padding: '20px' }" style="margin:20px;margin-left: 0px;">
    <div>
      <el-card>
        <div><span style="display:inline-block;width: 100px;">Name</span>: {{segmentData.name}}</div>
        <div style="margin-top: 10px;"><span style="display:inline-block;width: 100px;">Alias </span>: {{segmentData.alias}}</div>
        <div style="margin-top: 10px;"><span style="display:inline-block;width: 100px;">Description</span>: {{segmentData.description}}</div>
         <div style="margin-top: 20px;">
          <el-checkbox v-if="filterData.length > 0" v-model="checked">View Raw Filters</el-checkbox>   
         </div>
      </el-card>
    </div>
    <div>
      <el-card v-if="checked == true">
        <vue-json-pretty
          :path="'res'"
          :data="filterRaw">
        </vue-json-pretty>
      </el-card>      
    </div>
  </div>
</template>

<script>
  import swal from 'sweetalert2'
  import VueJsonPretty from 'vue-json-pretty'
  import CreateContact from '../CreateContactForm.vue'

  export default {
    props:['filterData','segmentData'],
    components:{
      VueJsonPretty,
      CreateContact
    },
    data () {
      return {
        filterRaw:'',
        checked:false
      }
    },
    methods: {
      viewRaw(){
        this.filterRaw = this.filterData
        console.log(this.filterData)
      }
    },
    watch:{
      filterData(val){
        this.filterRaw = this.filterData
      },
      checked(val){
        if(val == true){
          this.filterRaw = this.filterData
        }else{
          this.filterRaw = ''
        }
      }
    }
  }
</script>

<style>
</style>
