<template>
 <el-card :body-style="{ padding: '0px' }" style="border-top: 2px solid #95B1B2;padding:5px 20px 20px 20px ;margin-top: 20px;">
      <div style="margin: 10px;">Segment :</div>
      <el-select style="width: 100%;" multiple v-model="form.segment" placeholder="Select Segment">
        <el-option
          v-for="(item,i) in segment"
          :key="i"
          :label="item.name"
          :value="item.id">
          <span style="float: left">{{ item.name }}</span>
          <span style="float: right; color: #8492a6; font-size: 13px">{{ item.alias }}</span>
        </el-option>
      </el-select>
    </el-card>
</template>

<script>
export default {
  props:['segmentList','segmentModel'],
  data () {
    return {
      form:{
        segment:[]
      },
      segment:[]
    }
  },
  watch:{
    form:{
      handler(value){
        this.$emit('onFormChange', value.segment)
      },
      deep:true,
      immediate:true
    },
    segmentList:{
      handler(value){
        this.segment = value
      },
      immediate:true
    },
    segmentModel:{
      handler(value){
        console.log('RUBAH MODEL', value)
        this.form.segment = value
      },
      immediate:true
    }
  }
}
</script>

<style scoped>
 
</style>