<template>
  <el-card>
    <el-form class="container">
      <el-form-item >
        <el-col class="full">
          <el-input class="full" placeholder="Name" v-model="segment.name"></el-input>
        </el-col>
      </el-form-item>
      <el-form-item >
        <el-col class="full">
          <el-input class="full" placeholder="Alias" v-model="segment.alias"></el-input>
        </el-col>
      </el-form-item>
      <el-form-item class="full">
        <el-input placeholder="Description" type="textarea" v-model="segment.description"></el-input>
      </el-form-item>
    </el-form>
  </el-card>
</template>

<script>
  import swal from 'sweetalert2'

  export default {
    props:['name','alias','description'],
    components:{
    },
    data () {
      return {
        segment:{
          name:'',
          alias:'',
          description:''
        }
      }
    },
    created(){
      this.segment = {
        name:this.name,
        alias:this.alias,
        description:this.description
      }
    },
    watch:{
      segment:{
        handler(newValue){
          this.$emit('onSegmentChange', newValue)
        },
        deep:true
      }
    }
  }
</script>

<style scoped>
  .el-form-item{
    width: 50%;
  }
  .el-input__inner{
    width: 100%;
  }
  .container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .child{
    width: 50%;
  }
  .full{
    width: 100%;
  }
</style>
