  
  .el-dialog__header {
    border-bottom: 1px solid #eee;
  }
  .el-dialog__title{
    color: #66615b !important;
    font-weight:bold;
    font-size: 1.2em !important;
  }
  .el-dialog__body{
    padding: 30px 20px;
    font-size: 14px;
    color: #66615b;
  }
  .el-dialog__footer{
    color: #66615b !important;
    padding: 20px;
    padding-top: 10px;
    text-align: right;
    box-sizing: border-box;
  }
  .el-dialog__headerbtn {
    color: #66615b !important;
    .el-dialog__close,
    .el-icon el-icon-close {
      color: #66615b !important;
    }
    &:focus, &:hover{
      .el-dialog__close{
        color: #000000 !important;
      }
    }
  }
  .main-panel {
    .back-button{
      width: 59px;
      display: inline;
      padding: 5px 15px 15px 17px;
      vertical-align:top;
    }
    .side-content{
      width: calc(100% - 85px);
      display: inline-block;
      vertical-align:top;
    }
  }
  .member-wrapper{
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    .member-photo{
      display: inline;
      &:last-of-type{
        padding-right:8px;
      }
      img{
        border-radius: 25px;
        width: auto;
        height: 20px;
      }
    }
    .link{
      text-align: right;
      color: #909399;
      transition: all 100ms ease-in;
      margin-right: -4px;
      margin-bottom: 5px;
    }
    &:hover{
      .link{
        color: #141414;
      }
      cursor: pointer;
    }
  }
  .campaign-wrapper{
    min-height: calc(100vh - 300px);
    max-height: calc(100vh - 300px);
    margin-bottom: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    .title-wrapper{
      min-width: calc(100% - 130px);
      max-width: calc(100% - 130px);
      display: inline-block;
      vertical-align: top;
    }
    .member-wrapper{
      text-align: right;
      display: inline-block;
      vertical-align: top;
      .member-photo{
        display: inline;
        &:last-of-type{
          padding-right:8px;
        }
        img{
          border-radius: 25px;
          width: auto;
          height: 20px;
        }
      }
      .link{
        text-align: right;
        color: #909399;
        transition: all 100ms ease-in;
        margin-right: -4px;
        margin-bottom: 5px;
      }
      &:hover{
        .link{
          color: #141414;
        }
        cursor: pointer;
      }
    }
    .card{
      color: #66615b;
      .card-header{
        .title-text{
          margin-right: 10px;
          font-size: 16px;
          color: #66615b;
        }
      }
      .info{
        margin-top:10px;
        min-width: calc(100% - 245px);
        max-width: calc(100% - 245px);
        display: inline-block;
        vertical-align: middle;
      }
      .tools{
        padding-top: 10px;
        right: 0px;
        display: inline-block;
        vertical-align: middle;
        .link{
          text-align: right;
          padding: 0px 15px;
          color: #909399;
          transition: all 100ms ease-in;
          cursor: pointer;
          border-left: 1px solid #ccc;
          &:hover{
            color: #141414;
          }
          &:first-child{
            border-left: none;
          }
          &:last-child{
            border-right: none;
          }
        }
      }
      &:not(:last-child){
        margin-bottom: 15px;
      }
    }
    
    &::-webkit-scrollbar{
      width: .4em;
    }
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb{
      overflow:visible;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb{
      background: rgba(0,0,0,.2);
    }
  }